<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Blog</title>
</head>
<body>
    <header>
        <h1>Blog Django</h1>
    </header>
    <article>
        <time>published: 29.09.2021, 11:51</time>
        <h2><a href="">Primer post</a> </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, earum.</p>
    </article>
    <article>
        <time>published: 29.09.2021, 11:51</time>
        <h2><a href="">Segundo post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex corrupti neque vitae nam! Velit, placeat?</p>
    </article>
    <article>
        <time></time>
        <h2></h2>
        <p></p>
    </article>
    <!-- <p>Primer Template</p>
    <p>Funciona!</p>     -->
</body>
</html>